<div class="wrapper_box">
  <div class="wrapper_tabs only_tabs">
    <nz-tabset>
      <nz-tab *ngFor="let tab of tabs">
        <ng-template #nzTabHeading>
          {{tab.name}}
        </ng-template>
        <div class="tab_content">
          <ng-container *ngIf="tab.index ==1">
            <div class="wrapper_textarea">
              <nz-input [(ngModel)]="inputValue" [nzType]="'textarea'" [nzRows]="'20'" [nzPlaceHolder]="''"></nz-input>
              <div class="input_item btn_item">
                <span class="red_btn">保存</span>
                <span class="grey_btn">返回</span>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="tab.index ==2">
            <div class="wrapper_textarea">
              <nz-input [(ngModel)]="inputValue" [nzType]="'textarea'" [nzRows]="'20'" [nzPlaceHolder]="''"></nz-input>
              <div class="input_item btn_item">
                <span class="red_btn">保存</span>
                <span class="grey_btn">返回</span>
              </div>
            </div>
          </ng-container>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
</div>



