<div class="wrapper_box">
  <div class="wrapper_table">
    <div class="add_goods">
      <button nz-button [nzType]="'primary'" [routerLink]="['/setting/setting-user-add']">
        <i class="anticon anticon-plus"></i><span>新增员工</span>
      </button>
    </div>
    <div class="seperate_line"></div>
    <div class="input_item long_input_item query_input">
      <label class="pull-left input_label">员工</label>
      <nz-input [(ngModel)]="bossName"></nz-input>
      <div class="btn_item">
        <span class="red_btn">查询</span>
        <span class="grey_btn">清除</span>
      </div>
    </div>
    <div class="wrapper_tabs no_padding only_table">
      <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10">
        <thead nz-thead>
        <tr>
          <th nz-th><span>员工姓名</span></th>
          <th nz-th><span>手机号</span></th>
          <th nz-th><span>微信号</span></th>
          <th nz-th><span>分组</span></th>
          <th nz-th><span>添加人</span></th>
          <th nz-th><span>添加时间</span></th>
          <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
          <td nz-td>
            <span>{{data.name}}</span>
          </td>
          <td nz-td>{{data.phoneNumber}}</td>
          <td nz-td>{{data.wechatNumber}}</td>
          <td nz-td>{{data.group}}</td>
          <td nz-td>{{data.adder}}</td>
          <td nz-td>{{data.addTime}}</td>
          <td nz-td>
            <a>详情</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>



