.wrapper_table {
    padding:16px;
    background: #fff;
    font-size:14px;
    color:#172926;
}
.only_table {
  margin-top:16px;
}
.only_table nz-input{
  width:70%;
}
:host ::ng-deep .only_table .ant-input {
  height:30px;
  font-size:14px;
}
:host ::ng-deep .only_table .ant-select-selection--single {
  height:30px;
  font-size:14px;
  width:60px;
}
:host ::ng-deep .ant-select-selection__rendered {
  line-height: 28px;
}
