<div class="wrapper_box">
  <div class="wrapper_table">
    <div class="input_item long_input_item">
      <label class="pull-left input_label">小程序appID</label>
      <nz-input [(ngModel)]="appId" [nzSize]="'large'"></nz-input>
    </div>
    <div class="input_item long_input_item">
      <label class="pull-left input_label">小程序密钥</label>
      <nz-input [(ngModel)]="appPassword" [nzSize]="'large'"></nz-input>
    </div>
    <div class="input_item long_input_item">
      <label class="pull-left input_label">商户号</label>
      <nz-input [(ngModel)]="shopNumber" [nzSize]="'large'"></nz-input>
    </div>
    <div class="input_item long_input_item">
      <label class="pull-left input_label">商户密钥</label>
      <nz-input [(ngModel)]="shopPassword" [nzSize]="'large'"></nz-input>
    </div>
    <div class="input_item btn_item">
      <span class="red_btn">保存</span>
      <span class="grey_btn">返回</span>
    </div>
  </div>
</div>



